body {
    background-color:#7777; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    background-color: whitesmoke;
    border-bottom:2px solid rgba(55, 55, 55, 0.467);
}

Nav {
    width: 960px;
    height: 100px;
    margin: auto auto auto auto;
    padding: 0px ;
    background-color:whitesmoke;
}

li {
    list-style: none;
    padding: 0px;
    float: right;
    color: gray;
    margin: 30px 20px 0 0;
    font-size: 9pt auto;
}

section {
    width: 960px;
    height: 600px;
    margin: 20px auto;
    padding-bottom: 30px;
    background: whitesmoke;
}

footer {
    background-color: black;
    margin-top: 50px;
    height: 100px;
    border-top:10px solid rgba(92, 92, 92, 0.467);
    color: white;
    text-align: center;
    font-size: 10pt auto;
}

a {
    display: block;
    padding: 20px;
    text-align: center;
}

aside {
    /* display:block; */
    float: left;
    background-color: whitesmoke;
    width: 250px;
}

h1 {
    display: block;
    padding: 20px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    margin-left: 30px;
}

p {
    font-size:12pt auto;
}

form {
    float: left;
    /* height: 500px; */
    padding: 30px;
    margin:0;
    background: whitesmoke;
}

.blue-box {
    text-justify: center;
    float: left;
    background-color: black;
    width: 150px;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}


.page-container {
    position: relative;
    min-height: 100vh;
    bottom: 0px;
}

.content-wrap {
     padding-bottom: 0px;
 }

.hor-line {
    width: 900px;
    height: 1px;
    margin: 1px 0 0 30px;
    background-color:black;
}

.vert-line {
    float:left;
    border-left: 1px solid black;
    margin: 15px 0 0 ;
    height: 500px;
}

.text-wrap {
    width: 890px;
    margin:30px auto;
}

.white {
    text-justify: center;
    color: white;
    font-size: 20px;
    margin:10% auto;

}
 
.port_image {
    margin-left: 30px;
    margin-top: 20px;
    height: 244px;
}

