body {
    background-color:#7777; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 100px;
    background-color: whitesmoke;
    border-bottom:2px solid rgba(55, 55, 55, 0.467);
}

Nav {
    width: 960px;
    height: 100px;
    margin: auto auto auto auto;
    padding: 0px ;
    background-color:whitesmoke;

}

li {
    list-style: none;
    padding: 0px;
    float: right;
    color: gray;
    margin: 30px 20px auto auto;
    font-size: 9pt;
}

section {
    width: 960px;
    position: center;
    margin: 5px auto;
    margin-bottom: 30px;
    padding: 0px ;
    background-color: whitesmoke;
}

footer {
    height: 100px;
    background-color: black;
    margin-top: 30px;
    border-top:10px solid rgba(92, 92, 92, 0.467);
    color: white;
    text-align: center;
    font-size: 6pt;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a {
    display: block;
    padding: 10px;
    
}

h2 {
    padding-top: 20px;
    padding-left:30px;
}

p {
    padding-left:30px;
    font-size:12pt;
    width: 900px;
}

#blue-box {
    float: left;
    background-color: black;
    width: 150px;
    height: 100%;
    margin-top: 0;
    padding: 0;
    font-size: 20pt;
}

#white {
    text-justify: center;
    color: white;
    margin-top: 15%;
    margin-left: 25px;
    font-size: 18px;
}

#hor-line {
    width: 900px;
    height: 1px;
    margin: 1px 0 0 30px;
    background-color:black;
}